.comments p{
    /*font-size: 1.3rem;*/
}
.comment_form{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}
.comment_form img{
    width: 7rem;
    border-radius: 10rem;
}
.form{
    display: flex;
    flex-grow: 1;
}
.form input{
    display: flex;
    flex-grow: 1;
    height: 3rem;
    background: transparent;
    border: none;
    border-bottom: .1rem #c2b3b3 solid;
    color: white;
    padding: 1rem;
    outline: none;
}
.form button{
    width: 8rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}