h1{
    color: white;
}
.container{
    width: 100%;
    height: 90vh;
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    color: white;
    gap: 2rem;
}
.leftContaoner{
    width: 60%;
}
.watchScreen{
    width: 100%;
    height: 60vh;
    /*margin-bottom: 2rem;*/
}

.rightContainer{
    width: 40%;
}
@media (max-width: 884px) {
    .container{
        flex-direction: column;
    }
    .leftContaoner{
        width: 100%;
    }
    .rightContainer{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 430px) {
    .rightContainer{
        grid-template-columns: repeat(1, 1fr);
    }
}